.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: black;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.active {
    background-color: black;
    color: black;
}

ul.nav li a:hover {
    background-color: white;
    color: black;
}

h1 {
    text-align: center;
}

.color {
    background-color: rgb(234, 192, 234);
}