/**nav bar**/

.top {
    grid-column: 1/span 3;
    grid-row: 1;
    width: 100%;
    background-color: white;
    width: 100%;
}

.nav {
    list-style-type: none;
    display: block;
    margin: 0px;
    padding: 0px;
    color: black;
    overflow: hidden;
    background-color: orange;
    text-align: center;
    font-size: 80%;
    width: 100%;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.active {
    background-color: black;
    color: black;
}

ul.nav li a:hover {
    background-color: white;
    color: black;
}


/**grid css**/

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}

.grid-item {
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}


/** intro **/

.main-paragraph {
    grid-column: 1 / span 3;
    grid-row: 2;
    padding: 10px;
    background-color: rgb(51, 83, 143);
    color: white;
}


/**main page image grid**/

.home-image-1 {
    grid-column: 1;
    grid-row: 3;
}

.home-image-2 {
    grid-column: 2;
    grid-row: 3;
}

.home-image-3 {
    grid-column: 3;
    grid-row: 3;
}

.home-image-4 {
    grid-template-columns: 50% 50%;
    grid-column: 1;
    grid-row: 4;
}

.home-image-5 {
    grid-template-columns: 50% 50%;
    grid-column: 2;
    grid-row: 4;
}


/** shopping page **/

.product-1 {
    grid-column: 1;
    grid-row: 3;
}

.product-2 {
    grid-column: 2;
    grid-row: 3;
}

.product-3 {
    grid-column: 3;
    grid-row: 3;
}

.product-1-blurb {
    grid-column: 1;
    grid-row: 4;
}

.product-2-blurb {
    grid-column: 2;
    grid-row: 4;
}

.product-3-blurb {
    grid-column: 3;
    grid-row: 4;
}

.product-4 {
    grid-column: 1;
    grid-row: 5;
}

.product-5 {
    grid-column: 2;
    grid-row: 5;
}

.product-6 {
    grid-column: 3;
    grid-row: 5;
}

.product-4-blurb {
    grid-column: 1;
    grid-row: 6;
}

.product-5-blurb {
    grid-column: 2;
    grid-row: 6;
}

.product-6-blurb {
    grid-column: 3;
    grid-row: 6;
}


/** about page **/

.about-image {
    grid-column: 1;
    grid-row: 3;
}

.about-text {
    grid-column: 2;
    grid-row: 3;
}


/** faq page **/

.faq-1 {
    grid-column: 1;
    grid-row: 3;
}

.faq-2 {
    grid-column: 1;
    grid-row: 4;
}

.faq-3 {
    grid-column: 1;
    grid-row: 5;
}


/** footer **/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    color: black;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
    text-indent: 30px;
}


/** style **/

h1 {
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(5, 5, 5);
    font-size: 60px;
}

li,
h3 {
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

h2 {
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: rgb(7, 7, 7);
}

p {
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
    font-style: italic;
}

body {
    margin: 5px;
    background-attachment: fixed;
    background-size: cover;
    line-height: 10px;
}

button {
    display: block;
    background-color: orange;
    font-family: monotype-grotesque, sans-serif;
    font-weight: 300;
    font-style: none;
    font-size: 20px;
    text-align: right;
    left: 80;
}