.nav {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20%;
    padding-right: 20%;
    overflow: hidden;
    text-align: center;
}

.nav a {
    text-align: center;
    float: left;
    display: block;
    color: #020202;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.grid-item {
    background-color: lightblue;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border: solid 1px black;
}


/**controversy page grid**/

.top {
    grid-column: 1/span 3;
    grid-row: 1;
    width: 100%;
    background-color: rgba(216, 211, 211, 0.774);
    width: 100%;
}

.intro {
    grid-column: 1/span 3;
    grid-row: 2;
    border: solid 1px black;
}

.against {
    grid-column: 1 / span 1;
    grid-row: 3;
    border: solid 1px black;
}

.for {
    grid-column: 3 / span 1;
    grid-row: 3;
    border: solid 1px black;
}

.quotes {
    grid-column: 1 / span 3;
    grid-row: 4;
    border: solid 1px black;
}

.color {
    background-color: rgb(0, 48, 73);
}


/** Home page grid **/

.main-image {
    grid-column: 2;
    grid-row: 1 / span 3;
}

.main-paragraph {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
}


/**Case study grid **/

.vid-1 {
    grid-row: 2;
    grid-column: 3;
}

.image-1 {
    grid-row: 3;
    grid-column: 1 / span 3;
}

.main-1 {
    grid-row: 1;
    grid-column: 2 / span 2;
}

.main-2 {
    grid-row: 4;
    grid-column: 2;
}