.top {
    background-color: rgba(216, 211, 211, 0.774);
    width: 100%;
}

.nav {
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 25%;
    padding-right: 20%;
    overflow: hidden;
    text-align: center;
}

.nav a {
    float: left;
    display: block;
    color: #020202;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}