.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
}

.grid-item {
    background-color: seagreen;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: black;
    overflow: hidden;
    background-color: black;
    text-align: center;
    font-size: 50%;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.active {
    background-color: black;
    color: black;
}

ul.nav li a:hover {
    background-color: white;
    color: black;
}

#color {
    background-color: rgb(247, 211, 242);
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main1 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.main2 {
    grid-column: 1/ span 2;
    grid-row: 5;
}

.sidenav {
    grid-column: 3;
    grid-row: 3 / span 3;
}

.support1 {
    grid-column: 1;
    grid-row: 4;
}

.support2 {
    grid-column: 2;
    grid-row: 4;
}

p {
    text-align: left;
    font-size: 70%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
}